/*
* --------------------------------------------------------------
*   KWTRP HPC profile for viraphyl
*   Profile config names for viraphyl hpc adopted from:
*   https://github.com/nf-core/configs/tree/master/conf
* --------------------------------------------------------------
*/

params {
    config_profile_name        = 'kemri'
    config_profile_description = 'KWTRP HPC profile provided by kwtrp-peo'
    config_profile_contact     = 'Samuel Odoyo (@sodoyo)'
    config_profile_url         = 'kwtrp-peo github page'

    apptainer_cache_dir      = "/scratch/.apptainerCache"
}

// Job scheduler
executor {
    name            = 'slurm'
    queueSize       = 20
    submitRateLimit = '6/1min'
}

// Use Apptainer as container runtime
apptainer {
    enabled    = true
    autoMounts = true
    cacheDir   = params.apptainer_cache_dir
}

process {
    resourceLimits = [
        memory: 50.GB,
        cpus: 20,
        time: 24.h
    ]

    // Activate Apptainer conda environment inside every job
    beforeScript = 'eval "$(conda shell.bash hook)" && conda activate apptainer-env'

    scratch                     = true
    submitRateLimit             = '10/sec'
    queue = { task.memory <= 50.GB ? (task.time <= 24.h ? "highmem" : "longrun") : "highmem" }
    maxForks                    = 100
    queueStatInterval           = '10 min'
    maxRetries                  = 3
    errorStrategy               = { task.attempt <= 3 ? "retry" : "finish" }
    cache                       = 'lenient'
    exitStatusReadTimeoutMillis = '2700000'
}
