/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// General configuration options
//

process {

    withName: 'SAMPLESHEET_GENERATION' {
        publishDir = [
                path: { "${params.outdir}" },
                mode: params.publish_dir_mode,
                pattern: "*.{csv}"
            ]
    }  

    withName: 'KNEADDATA' {
        publishDir = [
                path: { "${params.outdir}/non_host_fastqs" },
                mode: params.publish_dir_mode,
                pattern: "*/{*_paired_1.fastq,*_paired_2.fastq,*_unmatched_1.fastq,*_unmatched_2.fastq}"
            ]
    }  

    withName: 'MULTIQC_PRE' {
        publishDir = [
                path: { "${params.outdir}/qc_report" },
                mode: params.publish_dir_mode,
                pattern: "*.{html}"
            ]
    }  

    withName: 'MULTIQC_POST_PAIRED' {
        publishDir = [
                path: { "${params.outdir}/qc_report" },
                mode: params.publish_dir_mode,
                pattern: "*.{html}"
            ]
    } 

    withName: 'MULTIQC_POST_UNMATCHED' {
        publishDir = [
                path: { "${params.outdir}/qc_report" },
                mode: params.publish_dir_mode,
                pattern: "*.{html}"
            ]
    } 
}
