/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/microphylan -profile test,<docker/singularity> --outdir <OUTDIR>
        nextflow run main.nf -profile docker,arm,local -c ravig.config

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 9,
        memory: '14.5GB',
        time: '4.h'
    ]

    executor = 'local'  // Runs jobs on the local machine instead of a cluster.
    maxForks = 3  // Allows up to 4 tasks (samples) to run in parallel.
    cpus = 3  // Each task is assigned 4 CPU by default.
    memory = '4.7GB'  // Each task is allocated 4GB of RAM.
    time = '2h'  // Each task has a maximum runtime of 2 hours.
}

params {
    fastq_dir                   = "/data/csande_group/test_data"
    outdir                      = "${projectDir}/Results"

    // Reduce human genome for pipeline testing
    human_genome                = "/home/KWTRP/sodoyo/Ref/hg38_bowtie2.5.1_idx"
    metaphlan_db                = "/home/KWTRP/sodoyo/Ref/metaphlan4.2.2_db"
}
